<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Docket</title>

		<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<a href="https://github.com/palfrey/docket"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
			      <div class="alert alert-success" role="alert">{{ message }}</div>
			    {% endfor %}
			  {% endif %}
			{% endwith %}
			<div class="jumbotron">
				<h1>Docket</h1>
				<p>
					Docket is a tool for adding tasks to <a href="https://todoist.com/">Todoist</a> for your <a href="https://www.beeminder.com/">Beeminder</a> todo list. Connect your accounts below, and then you can either manually update them with the "update" button below, or they will also be automatically updated every few hours.
				</p>
			</div>

			<ol>
				<li>
					{% if not data %}
						<form action="https://todoist.com/oauth/authorize" method="post">
							<input type="hidden" name="client_id" value="{{ todoist['client_id'] }}" />
							<input type="hidden" name="scope" value="data:read_write" />
							<input type="hidden" name="state" value="secretstring" />
							<button type="submit" class="btn btn-default">Connect to Todoist</button>
						</form>
					{% else %}
						<strong>Connected to Todoist</strong>
					{% endif %}
				</li>
				<li>
					{% if not data or data["beeminder_access_token"] == None %}
						<a href="https://www.beeminder.com/apps/authorize?client_id={{ beeminder['client_id'] }}&redirect_uri={{ beeminder_url }}&response_type=token" class="btn btn-primary"{% if not data %} disabled="disabled"{% endif %}>Auth with Beeminder</a><br />
					{% else %}
						<strong>Connected to Beeminder</strong>
					{% endif %}
				</li>
				<li>
					<form action="{{ url_for('todoist_update') }}" method="post">
						<button type="submit" class="btn btn-primary"{% if not data or data["beeminder_auth_token"] == None %} disabled="disabled"{% endif %}>Manually update Todoist</button> (this will also occur automatically every few hours)
					</form>
					Last updated: {{ data.pretty_update() if data else "Never" }}
				</li>
		</div>
	</body>
</html>
